.card-group {
  margin-top: 1rem;
  border-top: 1px solid var(--text);
  padding: 5rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, min(100%, 250px));
  justify-content: center;
  gap: 4rem;
}

.card {
  background: linear-gradient(var(--card-gradient-colors));
  color: var(--card-text);
  border-radius: var(--card-border-radius);
  text-align: center;
  border: none;

  font-size: calc(var(--fs-md));
  display: grid;
  gap: 1rem;
  padding: 3rem;
}

.card:hover {
  background: linear-gradient(var(--card-gradient-colors-h));
  color: var(--card-text-h);
}

.card:focus {
  outline-color: var(--text);
  outline-offset: 5px;
}
