.score-group {
  place-self: end;
  font-family: var(--secondary-ff);
  display: grid;
  justify-items: center;
}

.score {
  font-size: var(--fs-md);

  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.current-score {
  background-color: var(--score-bg);
  color: var(--score-text);
  border-radius: var(--card-border-radius);
  font-family: var(--mono-ff);
  font-size: var(--fs-bg);

  padding: 0.5rem 0.5rem 0.75rem 0.75rem;
  line-height: 1;
}

@media (width<=600px) {
  .score-group {
    position: sticky;
    top: 0;
    justify-self: center;
    z-index: 1;

    background-color: var(--page-bg);

    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
  }
}
