:root {
  --page-bg: #f1f1f1;
  --text: #000000;
  --score-bg: #fbf546;
  --card-text: #ffffff;
  --card-text-h: #ffffff;
  --card-gradient-colors: #000000, #222222;
  --card-gradient-colors-h: var(--score-bg), #222222;

  --card-border-radius: 12px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font-family: var(--sans);
  font-size: 62.5%; /* 1px = 0.1rem */
  color-scheme: light dark;
  color: var(--text);
  background: var(--page-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg: #0d131a;
    --text: #ffffff;
    --score-bg: #ffffff;
    --score-text: #000000;
    --card-text: #ffffff;
    --card-text-h: #000000;
    --card-gradient-colors-h: #dddddd, #ffffff;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  font-size: 1.6rem;
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
}

#root {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    ". banner scores"
    "cards cards cards";
  justify-content: center;
  padding: 2rem;
}

.banner {
  grid-area: banner;
}

.score-group {
  grid-area: scores;
}

.card-group {
  grid-area: cards;
}

@media (width <= 600px) {
  #root {
    grid-template-columns: 1fr;
    grid-template-areas: none;
    gap: 1rem;
    padding: 0;
  }

  #root > * {
    grid-area: revert;
  }
}
