@font-face {
  font-family: "Cherry Swash";
  src:
    url("./assets/fonts/subset-CherrySwash-Regular.woff2") format("woff2"),
    url("./assets/fonts/subset-CherrySwash-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Abyssinica SIL";
  src:
    url("./assets/fonts/subset-AbyssinicaSIL-Regular.woff2") format("woff2"),
    url("./assets/fonts/subset-AbyssinicaSIL-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reddit Mono";
  src:
    url("./assets/fonts/subset-RedditMono-Regular.woff2") format("woff2"),
    url("./assets/fonts/subset-RedditMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --page-bg: #f1f1f1;
  --text: #000000;
  --score-bg: #fbf546;
  --card-text: #ffffff;
  --card-text-h: #ffffff;
  --card-start-gradient: #000000;
  --card-end-gradient: #222222;
  --diff-easy: #95ec45;
  --diff-medium: #ff6d2f;
  --diff-hard: #ff5757;

  --card-border-radius: 12px;

  --primary-ff: "Cherry Swash", system-ui, sans-serif;
  --secondary-ff: "Abyssinica SIL", Roboto, serif;
  --mono-ff: "Reddit Mono", ui-monospace, monospace;

  --fs-bg: clamp(3.15rem, calc(2.114rem + 3.239vw), 6rem);
  --fs-md: clamp(2rem, calc(1.709rem + 0.909vw), 2.8rem);
  --fs-sm: clamp(1.38rem, calc(1.155rem + 0.705vw), 2rem);

  font-family: var(--primary-ff);
  font-size: 62.5%; /* 1px = 0.1rem */
  color-scheme: light dark;
  color: var(--text);
  background: var(--page-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg: #0d131a;
    --text: #ffffff;
    --score-bg: #ffffff;
    --score-text: #000000;
    --card-text: #ffffff;
    --card-text-h: #000000;
    --diff-easy: #3f8400;
    --diff-medium: #d74100;
    --diff-hard: #df2525;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  font-size: 1.6rem;
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  cursor: pointer;
}

#root {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "difficulty banner scores"
    "cards cards cards";
  justify-content: center;
  padding: 2rem;
}

.difficulty {
  grid-area: difficulty;
}

.banner {
  grid-area: banner;
}

.score-group {
  grid-area: scores;
}

.card-group {
  grid-area: cards;
}

@media (width <= 600px) {
  img {
    width: 90%;
    margin: 0 auto;
  }

  #root {
    grid-template-columns: 1fr;
    grid-template-areas: none;
    gap: 1rem;
    padding: 0;
  }

  #root > * {
    grid-area: revert;
  }

  .score-group {
    position: sticky;
    top: 0;
    background-color: var(--page-bg);
    z-index: 1;
    padding: 0.5rem 0;
  }

  .notice-container {
    position: sticky;
    top: calc(var(--fs-bg) * 1.5);
    z-index: 1;
    padding: 0.5rem 0;
    background-color: var(--page-bg);
  }
}

@keyframes pulse {
  50% {
    transform: scale(1.2);
  }
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes shake {
  0% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(10deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  30% {
    transform: rotateZ(-10deg);
  }
  40% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  60% {
    transform: rotateZ(0deg);
  }
  70% {
    transform: rotateZ(-10deg);
  }
  80% {
    transform: rotateZ(0deg);
  }
}

@keyframes wobble {
  10% {
    transform: translateY(-5.5%);
  }
  20% {
    transform: translateY(-0.5%);
  }
  30% {
    transform: translateY(4.5%);
  }
  40% {
    transform: translateY(0.5%);
  }
  50% {
    transform: translateY(-3.5%);
  }
  60% {
    transform: translateY(-0.5%);
  }
  70% {
    transform: translateY(2.5%);
  }
  80% {
    transform: translateY(0.5%);
  }
  90% {
    transform: translateY(-1.5%);
  }
  100% {
    transform: translateY(-0.5%);
  }
}

.sr-only {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  pointer-events: none;
}
