@font-face {
  font-family: "Cherry Swash";
  src:
    url("./assets/fonts/subset-CherrySwash-Regular.woff2") format("woff2"),
    url("./assets/fonts/subset-CherrySwash-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Abyssinica SIL";
  src:
    url("./assets/fonts/subset-AbyssinicaSIL-Regular.woff2") format("woff2"),
    url("./assets/fonts/subset-AbyssinicaSIL-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reddit Mono";
  src:
    url("./assets/fonts/subset-RedditMono-Regular.woff2") format("woff2"),
    url("./assets/fonts/subset-RedditMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --page-bg: #f1f1f1;
  --text: #000000;
  --score-bg: #fbf546;
  --card-text: #ffffff;
  --card-text-h: #ffffff;
  --card-gradient-colors: #000000, #222222;
  --card-gradient-colors-h: var(--score-bg), #222222;

  --card-border-radius: 12px;

  --primary-ff: "Cherry Swash", system-ui, sans-serif;
  --secondary-ff: "Abyssinica SIL", Roboto, serif;
  --mono-ff: "Reddit Mono", ui-monospace, monospace;

  --fs-bg: clamp(3.15rem, calc(2.114rem + 3.239vw), 6rem);
  --fs-md: clamp(2rem, calc(1.709rem + 0.909vw), 2.8rem);
  --fs-sm: clamp(1.38rem, calc(1.155rem + 0.705vw), 2rem);

  font-family: var(--primary-ff);
  font-size: 62.5%; /* 1px = 0.1rem */
  color-scheme: light dark;
  color: var(--text);
  background: var(--page-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg: #0d131a;
    --text: #ffffff;
    --score-bg: #ffffff;
    --score-text: #000000;
    --card-text: #ffffff;
    --card-text-h: #000000;
    --card-gradient-colors-h: #dddddd, #ffffff;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  font-size: 1.6rem;
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

#root {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    ". banner scores"
    "cards cards cards";
  justify-content: center;
  padding: 2rem;
}

.banner {
  grid-area: banner;
}

.score-group {
  grid-area: scores;
}

.card-group {
  grid-area: cards;
}

@media (width <= 600px) {
  #root {
    grid-template-columns: 1fr;
    grid-template-areas: none;
    gap: 1rem;
    padding: 0;
  }

  #root > * {
    grid-area: revert;
  }

  .banner,
  .score-group {
    position: sticky;
    top: 0;
    background-color: var(--page-bg);
  }

  .score-group {
    --_line-height: 1.65;
    top: calc((var(--fs-bg) / 2 + var(--fs-md)) * var(--_line-height));
    padding: 0.5rem 0;
  }
}
